<html>

<head>
   <!-- 导入样式 -->
   <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
   <link rel="stylesheet" href="index.css">
   <!-- 导入 Vue 3 -->
   <script src="https://unpkg.com/vue@next"></script>
   <!-- 导入组件库 -->
   <script src="https://unpkg.com/element-plus"></script>
</head>

<body>
   <div id="app">
      <el-row>
         <el-col :span="24">
            <div class="grid-content bg-purple-dark"></div>
         </el-col>
      </el-row>
      <el-row>
         <el-col :span="12">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="12">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
      </el-row>
      <el-row>
         <el-col :span="8">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="8">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
         <el-col :span="8">
            <div class="grid-content bg-purple"></div>
         </el-col>
      </el-row>
      <el-row>
         <el-col :span="6">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="6">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
         <el-col :span="6">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="6">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
      </el-row>
      <el-row>
         <el-col :span="4">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="4">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
         <el-col :span="4">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="4">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
         <el-col :span="4">
            <div class="grid-content bg-purple"></div>
         </el-col>
         <el-col :span="4">
            <div class="grid-content bg-purple-light"></div>
         </el-col>
      </el-row>
   </div>
   <script src="index.js"></script>
</body>

</html>