@import 'common.css';
@import 'header.css';
@import 'footer.css';
@import 'home.css';

body {
   margin : 0px;
   padding: 0px;
}

.vroot .el-header {
   background-color: #ffa724;
   text-align      : center;
   height          : auto;
}

.vroot .el-main {
   background-color: #e9eef3;
   text-align      : center;
   height          : auto;
}

.vroot .el-footer {
   background-color: black;
   color           : white;
   text-align      : center;
   height          : auto;
}