@import 'common.css';
@import 'header.css';
@import 'footer.css';
@import 'home.css';

body {
   margin : 0px;
   padding: 0px;
}

.vroot .el-header {
   background-color    : #ffa724;
   /* flex layout https://www.ruanyifeng.com/blog/2015/07/flex-grammar.html */
   display             : flex;
   align-items         : center;
   justify-content     : left;
   height              : 50px;
}

.vroot .el-main {
   background-color: #e9eef3;
   text-align      : center;
   height          : 500px;
}

.vroot .el-footer {
   background-color: black;
   color           : white;
   display         : flex;
   align-items     : center;
   justify-content : right;
   height          : 50px;
}